
polymer-element(name='synth-binding-tooltip')
  template
    style
      :scss
        .tip {
          position: fixed;
          background: #090807;
          top: 150px;
          z-index: 100;
          color: #e9e8e7;
          padding: 3px 5px;
          border: 2px solid #8b8685;
          transform: translateX(-50%);
          &::before {
            content: '';
            position: absolute;
            top: -10px; left: 50%;
            margin-left: -5px;
            border: 5px solid transparent;
            border-bottom-color: #8b8685;
          }
        }
    .tip(style='left:{{tooltipX}}px;display:{{visible?"block":"none"}}')
      strong {{tooltipTitle}}
      = " "
      span {{tooltipValue}}
  script: :es6
    Polymer({
      show(element, title, text) {
        let rect = element.getBoundingClientRect()
        this.visible = true
        this.tooltipX = rect.left + rect.width / 2
        this.tooltipTitle = title
        this.tooltipValue = text
      },
      hide() {
        this.visible = false
      },
    })
    window.getSynthBindingTooltip = () => {
      let ID = 'the-synth-binding-tooltip'
      let element = document.getElementById(ID)
      if (element) return element
      element = document.createElement('synth-binding-tooltip')
      element.id = ID
      document.body.appendChild(element)
      return element
    }

polymer-element(name='synth-binding' attributes='model view type title')
  template
    style.
      :host { display: none; }
  script: include:es6 binding.js
