
polymer-element(name='synth-button' touch-action='pan-x' on-down='{{_down}}' on-up='{{_up}}')
  template
    style: :scss
      @import "style";
      :host {
        @extend %center-content;
        border: 1px solid #555453;
        background: #252423 linear-gradient(to bottom, #454443, #252423);
        border-radius: 3px;
        text-align: center;
        padding: 5px 0;
      }
      :host([is-down='true']) {
        background: #090807 linear-gradient(to bottom, #090807, #151413);
      }
      :host([is-active='true']) {
        background: #090807 linear-gradient(to bottom, #090807, #353433);
        color: #fe5;
        font-weight: bold;
      }
    .content: content
  script: :es6
    Polymer({
      _down() {
        this.setAttribute('is-down', 'true')
      },
      _up() {
        this.setAttribute('is-down', 'false')
      },
    })

polymer-element(name='synth-button-group' attributes='title' noscript)
  template
    style: :scss
      @import "style";
      :host {
        display: flex;
      }
      @include content {
        > synth-button {
          border-radius: 0;
          flex: 1;
          &:first-child {
            border-radius: 3px 0 0 3px;
          }
          &:not(:last-child) {
            border-right: 0;
          }
          &:last-child {
            border-radius: 0 3px 3px 0;
          }
          &:first-child:last-child {
            border-radius: 3px;
          }
        }
      }
    content
