
link(rel='import' href='../../environment.html')
link(rel='import' href='binding.html')
link(rel='import' href='ui.html')
link(rel='import' href='button.html')
link(rel='import' href='lcd.html')
link(rel='import' href='knob.html')
link(rel='import' href='slider.html')

polymer-element(name='synth-options-oscillator' attributes='params')
  template
    chain-item(title='Oscillator')
      synth-vbox(vertical layout style='width:6em')
        synth-item(flex title='Waveform')
          synth-button(flex touch-action='pan-x' on-tap="{{_switchWaveform}}") {{params.type}}
        synth-item(title='Mode')
          synth-button-group
            synth-button(title='Mix with previous audio signal') +
            synth-button(title='Use previous audio signal to module frequency') FM
      synth-item(title='Frequency'): synth-vbox(flex vertical layout start-justified)
        synth-item(title='Detune')
          synth-lcd(title='Freq' value='{{params.freq.detune}}' unit!='&cent;')
        synth-hbox(horizontal layout justified)
          synth-item(title='LFO:F'): synth-knob#lfoF
          synth-item(title='LFO:A'): synth-knob#lfoA
      synth-item(title='Vol'): synth-hbox(flex horizontal layout justified)
        synth-item(flex title='Gain'): synth-vslider#gain
      synth-item(title='Envelope'): synth-hbox(flex horizontal layout justified)
        synth-item(flex title='A'): synth-vslider#envA
        synth-item(flex title='D'): synth-vslider#envD
        synth-item(flex title='S'): synth-vslider#envS
        synth-item(flex title='R'): synth-vslider#envR
      synth-binding(model='{{params.gain.volume}}' view='{{$.gain}}' type='percentage')
      synth-binding(model='{{params.gain.adsr.a}}' view='{{$.envA}}' type='adsrTime')
      synth-binding(model='{{params.gain.adsr.d}}' view='{{$.envD}}' type='adsrTime')
      synth-binding(model='{{params.gain.adsr.s}}' view='{{$.envS}}' type='percentage')
      synth-binding(model='{{params.gain.adsr.r}}' view='{{$.envR}}' type='adsrTime')
      synth-binding(model='{{params.freq.lfo.freq}}' view='{{$.lfoF}}' type='lfoFrequency')
      synth-binding(model='{{params.freq.lfo.amount}}' view='{{$.lfoA}}' type='lfoAmount')
  script: :es6
    Polymer({
      created() {
        this.params = { }
      },
      ready() {
        console.log(this.params)
      },
      _switchWaveform() {
        let next = {
          'sine': 'square',
          'square': 'sawtooth',
          'sawtooth': 'triangle',
          'triangle': 'sine',
        }
        this.params.type = next[this.params.type]
      }
    })

polymer-element(name='chain-ui' attributes='model')
  template
    core-style(ref='chain-ui')
    style: :scss
      @import "style";
      :host > .container {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        align-content: stretch;
        padding: 8px;
        background: #353433;
        > :not(:last-child) {
          margin-right: 16px;
        }
        > * {
          flex-shrink: 0;
        }
      }
    .container
      template(repeat='{{item in model.voice}}')
        template(if='{{item.type == "Oscillator"}}')
          synth-options-oscillator(params='{{item.params}}')
        template(if='{{item.type == "BiquadFilter"}}')
          div Biquad Filter!
  script: :es6
    Polymer({
      created() {
        this.model = { }
      }
    })

