
$hint-font: 8px Verdana, sans-serif;

@mixin content {
  ::content {
    @content;
  }
  :host {
    @content;
  }
}

@mixin hint-text {
  font: $hint-font;
  text-transform: uppercase;
}

%center-content {
  text-align: center; display: flex;
  align-items: center; justify-content: center;
}

