
polymer-element(name='synth-hbox' noscript)
  template
    style: :scss
      @import "style";
      @include content {
        > :not(:first-child) {
          margin-left: 3px;
        }
        > :not(:last-child) {
          margin-right: 3px;
        }
      }
    content

polymer-element(name='synth-vbox' noscript)
  template
    style: :scss
      @import "style";
      @include content {
        > :not(:first-child) {
          margin-top: 3px;
        }
        > :not(:last-child) {
          margin-bottom: 3px;
        }
      }
    content

polymer-element(name='synth-item' attributes='title' noscript)
  template
    style: :scss
      @import "style";
      :host {
        display: flex;
        flex-direction: column;
      }
      :host > .title {
        text-align: center;
        color: #8b8685;
        margin-top: 1px;
        @include hint-text;
      }
    content
    .title {{title}}

polymer-element(name='chain-item' attributes='title' noscript)
  template
    style: :scss
      @import "style";
      :host > .title {
        background: #555453 linear-gradient(to bottom, #8b8685, #555453);
        border: 1px solid #8b8685;
        border-radius: 4px 4px 0 0;
        padding: 2px 3px;
      }
      :host > .content {
        background: #151413 linear-gradient(to bottom, #252423, #151413);
        height: 108px;
        border: 1px solid #8b8685;
        border-top: 0;
        border-radius: 0 0 4px 4px;
        padding: 4px;
        @extend .sections;
      }
    .title {{title}}
    synth-hbox.content(layout horizontal): content

