link(rel='import' href='../../environment.html')
link(rel='import' href='../audio-synthesizer/index.html')
link(rel='import' href='../keyboard-view/index.html')
link(rel='import' href='../note-manager/index.html')
link(rel='import' href='../chain-ui/index.html')

polymer-element(name='synth-app')
  template
    style: include:scss style.scss
    audio-synthesizer(id='synth' model='{{model}}')
    note-manager(id='notes' params='{{model.note}}' synthesizer='{{$.synth}}')
    chain-ui(model='{{model}}' availableUnits='{{$.synth.availableUnits}}')

    keyboard-view(id='kb1' base='72')
    keyboard-view(id='kb2' base='60')
    keyboard-view(id='kb3' base='48')
  script: include:es6 script.js
