link(rel='import' href='../../components/polymer/polymer.html')
link(rel='import' href='../audio-synthesizer/index.html')
link(rel='import' href='../keyboard-view/index.html')
link(rel='import' href='../note-manager/index.html')

polymer-element(name='synth-app')
  template
    audio-synthesizer(id='synth' model='{{model}}')
    note-manager(id='notes' synthesizer='{{$.synth}}')
    keyboard-view(id='kb1')
    keyboard-view(id='kb2')
    | I am a web-based synthesizer!
  script: include:es6 script.js
