link(rel='import' href='components/polymer/polymer.html')
script(src='components/debug/dist/debug.js')
script(src='components/ramda/ramda.min.js')
script(src='components/core.js/client/core.min.js')
style: include:scss style.scss
