doctype html
html
  head
    meta(charset='utf-8')
    title synth.spacet.me
    style: include:scss style.scss
    script(src='components/webcomponentsjs/webcomponents.min.js')
    script(src='components/visionmedia/debug/dist/debug.js')
    link(rel='import' href='elements/synth-app/index.html')
  body
    synth-app
