doctype html
html
  head
    meta(charset='utf-8')
    title synth.spacet.me
    script(src='components/webcomponentsjs/webcomponents.min.js')
    meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    link(rel='import' href='elements/chain-ui/index.html')
  body
    chain-ui(model='{"voice":[{"type":"Oscillator","params":{"type":"sine","mode":"mix","freq":{"detune":-1200,"lfo":{"active":false,"freq":4,"amount":100}},"gain":{"adsr":{"a":0,"d":0.3,"s":1,"r":1}},"pan":{"value":0}}},{"type":"Oscillator","params":{"type":"sine","mode":"fm","fm":{"amount":500},"freq":{"detune":0,"lfo":{"active":false,"freq":4,"amount":100}},"gain":{"adsr":{"a":0,"d":0.3,"s":0.6,"r":0.2}},"pan":{"value":0}}}]}')
